.rodapé{
  background-color: var(--branco-alura);
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 16px;
  padding: 1em;
}

.responsividade__lista{
  display: none;
}




@media screen and (min-width: 1024px) {
  .rodapé{
    display: flex;
    justify-content: space-around;
    padding:  3em 1em;
  }
  
  .responsividade__lista{
    display: block;
  }

  .rodapé__alura{
    font-size: 24px;
    font-weight: 400;
  }

  .lista-rodape__titulo{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-titulo);

  
  }

  .lista-rodape__item{
    display: flex;
    align-items: center;
    margin: 0.7em 0;
    font-size: 14px;
    
  }
  
  .lista-rodape__link{
    text-decoration: none;
    color: var(--cinza);
  }

  
}

@media screen and (min-width: 1728px) {
  .responsividade__lista{
    border-left: 1px solid var(--cinza);
    padding-left: 1em;
  }

  .rodapé{
    padding: 3em;
  }
}